// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element
  background: #000;
  color: #fff;
  padding: 60px 30px 10px 30px;

  background-image: url(../img/bg-logo.svg);
  background-repeat: no-repeat;
  background-position: left bottom -240px;

  &__top {
    padding-bottom: 170px;
  }

  &__part {

    &.menu {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      .footer-logo {
        margin-right: 8%;
      }

      .btn-link {
        text-decoration: underline;
        font-size: 14px;
      }

      .page-footer__nav {
        margin-left: auto;
      }
    }

    &.info {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
    }
  }
  &__bottom {
    color: #363636;

    a {
      color: #363636;
    }
  }

  &__nav {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 33px;
    }

    a {
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      display: block;
      padding: 0.3em;
    }
  }

  &__contacts {
    .item {
      color: #fff;
      margin-left: 30px;
      margin-right: 5px;
      display: inline-block;

      .icon {
        fill: #fff;
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }

}
